.navbar-default{
    opacity: 0.8;
  }
  #enseignant{
    color: black;
    font-size: 23px;
  }
  .scroll-link{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.582);
  }
  
  #floating-nav{
      padding-left: 350px;
  }
  
    body{
      background-image: url("ecole2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.8;
  }

  /* css formulaire*/
  #details{
      padding-left: 400px;
  }
.modifier{
    margin-top: 70px;
    width: 45%;
    height: 270px;
    padding-left: 100px;
  }
  legend{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(206, 54, 27);
    font-weight: bold;
  }
  h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(62, 167, 71);
    font-weight: bold;
  }
  h2{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(206, 54, 27);
    font-weight: bold;
    text-align: center;
  }
  .connexion{
    margin-top: 20px;
    width: 45%;
    height: 270px;
    float: right;
    padding-right: 20px;
  }
  #btnsecondaire{
    background-color: green;
    width: 100px;
}
  input {
    font: 1em sans-serif;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-top: 5px;
  }
  .envoi{
    padding-left: 125px;
  }
  .envoi2{
    padding-left: 650px;
  }
  .label{
    margin-top: 60px;
    font-size: 15px;
    color:whitesmoke;
}
  .test{
    padding-left: 100px;
    padding-top: 100px;
    text-align: center;
  }