/*.navbar-floating {
    background:rgba(3, 3, 3, 0);
    color: #292626;
    width: 100%;
    border-radius: 0;
    opacity: 0.5;
  }
  .navbar-floating .navbar-brand {
    color: #810000;
    font-size: 20px;
    text-transform: uppercase;
  }
  .navbar-floating .navbar-brand:after {
    content: ' | ';
    color: #810000;
    position: relative;
    top: -3px;
  }
  #floating-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
  }
  #floating-nav.navbar {
    min-height: 1px;
  }
  #floating-nav ul li a {
    font-size: 14px;
  }
  #floating-nav ul li a:hover {
    background: none;
  }*/
.navbar-default{
  opacity: 0.8;
}
#admin{
  color: black;
  font-size: 23px;
}
.scroll-link{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.582);
}

  body{
    background-image: url("ecole2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

/* css formulaire*/
#details{ /* formulaire données personneles*/
  padding-left: 200px;
  display: flex;
  justify-content: center;
}
#detailsper{ /* formulaire gestion des enseignants*/
  padding-left: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#detailsclass{ /* formulaire gestion des classes*/
  padding-left: 60px;
  display: flex;
  justify-content: center;
}
#detailsmat{ /* formulaire gestion des matiéres*/
  padding-left: 60px;
  display: flex;
  justify-content: center;
}
.modifier{
  margin-top: 70px;
  width: 55%;
  height: 270px;
  /*padding-left: 100px;*/
}
legend{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(206, 54, 27);
  font-weight: bold;
}
.connexion{
  margin-top: 20px;
  width: 45%;
  height: 270px;
  float: right;
  padding-right: 20px;
}
input {
  font: 1em sans-serif;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #999;
  margin-top: 5px;
}

.envoi{
  padding-left: 125px;
}
.envoi1{
  padding-left: 147px;
}
/*.envoi2{
padding-right:300px ;
}
*/
.envoi3{
  padding-left:30px ;
  }

  
#btnsecondaire{
  background-color: green;
  width: 100px;
}
.connx{
  padding-left: 95px;
}
.label{
  margin-top: 60px;
  font-size: 15px;
  color:whitesmoke;

}
.test{
  padding-left: 100px;
  padding-top: 100px;
  text-align: center;
}