          /* CSS acceuil */

body{
    background-image: url("ecole2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.button{
    
    width: 260px;
}
.butt1{
    padding-right: 30px;
    padding-left:450px;
    padding-top:200px;
}
.butt2{
    /*padding-left: 30px;*/
    padding-left:100px;
    padding-top:200px;
}
.butt3{
    /*padding-left: 60px;*/
    padding-left:130px;
    padding-top:200px;
    
}
.logo{
    width: 250px;
}
.new_init1{
    padding-right: 30px;
    padding-left:450px;
    padding: top -20px;
}
.new_init2{
    padding-left:100px;
    padding: top -20px;
}
.new_init3{
    padding-left:130px;
    padding: top -20px;
}
#testform{
   display: none; 
   visibility: hidden ;
   
}

#testform1{
    display: none; 
    visibility: hidden ;
}
#testform2{
    display: none; 
    visibility: hidden ;
}


        /* CSS formulaire admin */
.inscription{
    margin-top: 20px;
    width: 30%;
    height: 270px;
    float: left;
    padding-left: 20px;
}
.connexion{
    margin-top: 95px;
    width: 70%;
    height: 270px;
    float: right;
    padding-right: 330px;
    padding-left: 130px;
    
}
.connexion2{
    margin-top:50px;
    width: 70%;
    height: 270px;
    float: right;
    padding-right: 330px;
    padding-left: 130px;
}

#btnsecondaire{
    background-color: green;
    width: 100px;
}
input {
    font: 1em sans-serif;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-top: 7px;
    padding-left: 10px;
  }
  select{
    font: 1em sans-serif;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-top: 7px;
    padding-left: 10px;
  }
.envoi{
    padding-left: 132px;
  }
.connx{
    padding-left: 118px;
  }
#testform{
    padding-left: 300px;
}
#testform1{
    padding-left: 300px;
}
#testform2{
    padding-left: 300px;
}
.label{
    margin-top: 60px;
    font-size: 15px;
    color:whitesmoke;
}
legend{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(206, 54, 27);
    font-weight: bold;
}

        /* CSS formulaire enseignants */
